# Supabase Configuration
VITE_SUPABASE_URL=https://zyzwzxhbodunzrfmbfaa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5end6eGhib2R1bnpyZm1iZmFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0MDQzMDksImV4cCI6MjA4Nzk4MDMwOX0.22ERrZ1saxbZY4XxETRsz1canCmbL22eAhCD66uDeoM

# Admin Credentials
VITE_ADMIN_EMAIL=bass123@gmail.com
VITE_ADMIN_PASSWORD=passer123
